body {
    background-color: green;
}

img {
    width: 110x;
    height: 130px;
    margin-right: 15px;
}

.dealerCard {
    display: inline-block;
}

#dealerCard-1, #dealerCard-2, #dealerCard-3, #dealerCard4, #dealerCard-5 {
    margin: 0 5px;
}

.playercard {
    display: inline-block;
}

#playerCard-1, #playerCard-2, #playerCard-3, #playerCard4, #playerCard-5 {
    margin: 0 5px;
}

